{%  if auth %}
    <p>Hello {{ auth.getFullName }}!</p>
    <img src="{{ auth.getAvatarUrl({size:150}) }}"/>
{% endif %}

<ul>
    <li><a href="{{ urlFor('home') }}">Home</a></li>
    {% if auth %}
        <li><a href="{{ urlFor('logout') }}">Wyloguj</a></li>
        <li><a href="{{ urlFor('user.profile', {username: auth.username}) }}">Twój profil</a></li>
    {% else %}
    <li><a href="{{ urlFor('login') }}">Logowanie</a></li>
    <li><a href="{{ urlFor('register') }}">Rejestracja</a></li>
    {% endif %}
    <li><a href="{{ urlFor('user.all') }}">All users</a></li>
</ul>