{% extends 'templates/default.twig' %}

{% block title %}{{ user.getFullNameOrUsername }}{% endblock %}

{% block content %}
    <h2>{{ user.username }}</h2>
    <img src="{{ user.getAvatarUrl({size: 130}) }}" alt="Profile picture for {{ user.getFullNameOrUsername }}">
    <dl>
        {% if user.getFullName %}
            <dt>Full name</dt>
            <dd>{{ user.getFullName }}</dd>
        {% endif %}
            <dt>Email Adress</dt>
            <dd>{{ user.email }}</dd>
    </dl>
{% endblock %}